.container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.title {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--text);
}

.submitButton {
  color: white;
  background-color: var(--pink);
  border: none;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 1.6rem;

  transition: scale 0.3s ease-in-out;

  &:hover:not(:disabled){
    scale: 1.05;
  }
  &:active:not(:disabled) {
    scale: 0.95;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--gray);
    color: var(--soft-gray);
  }
}

.rememberMe {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: fit-content;
  cursor: pointer;

  font-size: 1.4rem;
  color: var(--text);
  font-weight: 300;
}
.checkboxContainer {
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  border: 2px solid var(--gray);
  border-radius: 0.4rem;
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: white;

    width: 2.2rem;
    height: 2.2rem;
  }
}
.checkboxContainer:has(input[type="checkbox"]:checked) {
  background-color: var(--pink);
  border-color: var(--pink);

  svg {
    opacity: 1;
  }
}
.checkbox {
  appearance: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.link {
  font-size: 1.4rem;
  color: var(--text);
  font-weight: 300;
  width: fit-content;

  transition: color 0.2s ease-in-out;

  &:hover {
    text-decoration: underline;
    color: var(--pink);
  }
}