.container {
    display: flex;
    gap: 2.4rem;
    align-items: start;
    width: 100%;

    &> :first-child {
        flex: 1;
    }
}
.contentcontainer {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    width: 100%;
}
.profileinfo {
    flex: 2;
}

.interests {
    flex: 1;
}

.topicscontainer {
    padding: 1.6rem 0rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1.6rem;
}