.container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-width: 100%;
  width: 100%;
}

  .opened {
    z-index: 10;
  }

.label {
  color: var(--text);
  font-size: 1.6rem;
}
.selectArea {
  position: relative;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.input {
  font-size: 1.6rem;
  width: 92%;
  border: none;
  background-color: transparent;
  height: 100%;
  color: var(--text);
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: var(--soft-gray);
    font-size: 1.6rem;
  }
}

.selectedOption {
  font-size: 1.6rem;
  color: var(--text);

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.placeholder {
  font-size: 1.6rem;
  color: var(--soft-gray);
  font-weight: 400;
}

