.footerContainer {
    padding: 1rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    align-items: center;

    position: relative;
}

.title {
    color: var(--pink);
    font-size: 3.5rem;
    position: absolute;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    margin: auto;
}

.linksContainer {
    display: flex;
    gap: 1.8rem;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.4rem;
    color: var(--text);
}

.rights {
    font-size: 1.2rem;
    color: var(--text);
}